/ form action="/login" method="post"
/     input type="text" name="Username" placeholder="Användarnamn" require="required"
/     input type="password" name="Password" placeholder="Lösenord" require="required"
/     input type="submit" value="Logga in"

/ p Har du inget konto?
/ a href="/signup" Registrera här.
