.loginbutton {
color: red;
}

div.wrapper {
    /* display: grid; */
    width: 100vw;
    height: 100vh;
    background-color: #D3D3D3;
    grid-template-columns: repeat( 14, 2fr);
    grid-template-rows: repeat( 13, 4fr);
    margin-left: auto;
    margin-right: auto;
}

header {
    /* display: grid; */
    /* background-color: black; */
    grid-column: 1 / 15;
    grid-row: span 2;
}

form.b {
    grid-column: 4 / 9;
    grid-row: 4 / 7;
}

.sidebar {
    grid-column: 2 / 3;
    grid-row: 4 / 13;
    background-color: gray;
}

form.logoutbutton {
    grid-column: 
}

.blogpost {
    grid-column: 4 / 12;
    grid-row: 0 / 7;
    text-align: center;
    background-color: white;
    padding: 50px;
}

article.blogpost {
    background-color: lightgrey;
    margin: 10px;
}