.loginbutton {
color: red;
}

div.wrapper {
    /* display: grid; */
    width: 100vw;
    height: 100vh;
    background-color: #ffff;
    /* grid-template-columns: repeat( 14, 2fr);
    grid-template-rows: repeat( 13, 4fr); */
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #ffff;
    text-align: center;
}

.sidebar {
    background-color: gray;
}

/* form.logoutbutton {
    grid-column: 
} */

.blogpost {
    grid-column: 4 / 12;
    grid-row: 0 / 7;
    text-align: center;
    background-color: white;
    padding: 50px;
}

article.blogpost {
    background-color: lightgrey;
    margin: 10px;
}

form.yeet {
    text-align: center;
}

p.myposts {
    text-align: center;
}

a.newpost {
    align-items: center;
}

.editcredentials {
    text-align: right;
    margin-right: 30px;
}

.homelink {
    text-align: center;
}

.myprofilelink {
    text-align: center;
}